/* pages/cart/index.wxss */
.revice_address_row .address_btn {
  padding: 20rpx;
}
.revice_address_row .address_btn button {
  width: 60%;
}
.revice_address_row .user_info_row {
  display: flex;
  padding: 20rpx;
}
.revice_address_row .user_info_row .user_info {
  flex: 5;
}
.revice_address_row .user_info_row .user_phone {
  flex: 3;
  text-align: right;
}
.cart_content .cart_title {
  padding: 20rpx;
  font-size: 36rpx;
  color: var(--themeColor);
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}
.cart_content .cart_main .cart_item {
  display: flex;
}
.cart_content .cart_main .cart_item .catr_chk_wrap {
  flex: 1;
}
.cart_content .cart_main .cart_item .cart_img_wrap {
  flex: 2;
}
.cart_content .cart_main .cart_item .cart_info_wrap {
  flex: 4;
}
